img {
  height: 100%;
  width: 100%;
}

#cover {
    position: fixed;
    width: 120%;
    height: 120%;
    background-repeat: no-repeat;
    background-size: cover;
    top: -1cm;
    left: -1cm;
    z-index: -1;
    -webkit-filter: blur(6px) brightness(30%) contrast(60%);
    filter: blur(6px) brightness(30%) contrast(60%);
}

.contain {
  object-fit: contain;
}
